In [40]:
#IMPORTATION DES LIBRAIRIES
import os
import pandas as pd

In [41]:
#CHARGEMENT DES DONNEES 
df_ville = pd.read_csv("Cities.csv", sep=",")

#SUPPRESSION DES COLONNES INUTILES
df_ville = df_ville.drop(columns=["insee_code", "city_code", "label", "department_name", "region_name"])
df_ville.head()

   zip_code   latitude  longitude department_number      region_geojson_name
0     25650  46.999873   6.498147                25  Bourgogne-Franche-Comté
1     25640  47.361512   6.235167                25  Bourgogne-Franche-Comté
2     25310  47.368384   6.871415                25  Bourgogne-Franche-Comté
3     25240  46.713906   6.265831                25  Bourgogne-Franche-Comté
4     25170  47.228558   5.852187                25  Bourgogne-Franche-Comté

In [42]:
df_caf = pd.read_csv("ndur_s_qf_400_dep.csv", sep=";")
df_caf.head()

,Date référence,Numéro département,Nom département,Numéro région,Nom région,Quotient familial,Nombre foyers NDUR,Nombre personnes NDUR,Montant total NDUR,Nombre foyers NDURPAJE,...,Nombre foyers NDUREJ,Nombre personnes NDUREJ,Montant total NDUREJ,Nombre foyers NDURAL,Nombre personnes NDURAL,Montant total NDURAL,Nombre foyers NDURINS,Nombre personnes NDURINS,Montant total NDURINS,Lieu résidence
0,2018-07,53,MAYENNE,52,PAYS DE LA LOIRE,Entre 1200 et 1599 euros,6817,26806,2231380,2565,...,5388,22677,1061757,53,117,6338,149,363,18295,PAYS DE LA LOIRE/MAYENNE
1,2018-07,53,MAYENNE,52,PAYS DE LA LOIRE,Entre 2000 et 3999 euros,1132,4626,154032,228,...,1035,4340,96399,1,2,336,1,2,118,PAYS DE LA LOIRE/MAYENNE
2,2018-07,53,MAYENNE,52,PAYS DE LA LOIRE,Entre 4000 ou plus,133,554,11676,21,...,120,516,6851,0,0,0,1,2,111,PAYS DE LA LOIRE/MAYENNE
3,2018-07,54,MEURTHE ET MOSELLE,44,GRAND EST,Entre 4000 ou plus,500,2050,52210,99,...,449,1896,22204,0,0,0,2,5,793,GRAND EST/MEURTHE ET MOSELLE
4,2018-07,55,MEUSE,44,GRAND EST,Moins de 400 euros,7166,11093,3511553,360,...,1137,4053,357994,4545,7190,1145289,4433,7006,1767349,GRAND EST/MEUSE

In [43]:
#CHECK FOR MISSING VALUES
print(df_ville.isnull().sum())

zip_code                 0
latitude               211
longitude              211
department_number        0
region_geojson_name      0
dtype: int64

In [44]:
print(df_caf.isnull().sum())

Date référence                  0
Numéro département              0
Nom département              1410
Numéro région                   0
Nom région                   2186
Quotient familial               0
Nombre foyers NDUR              0
Nombre personnes NDUR           0
Montant total NDUR              0
Nombre foyers NDURPAJE          0
Nombre personnes NDURPAJE       0
Montant total NDURPAJE          0
Nombre foyers NDUREJ            0
Nombre personnes NDUREJ         0
Montant total NDUREJ            0
Nombre foyers NDURAL            0
Nombre personnes NDURAL         0
Montant total NDURAL            0
Nombre foyers NDURINS           0
Nombre personnes NDURINS        0
Montant total NDURINS           0
Lieu résidence               2186
dtype: int64

**La base de données *VILLES(df_villes)* contient 211 données de Latitude et Longitude manquantes**
**La base de données *CAF(df_caf)* contient 1410 noms de départements manquants et 2186 nom de région et lieu de résidence manquants**

J'ai supprimé les données manquantes de la base VILLES mais j'ai gardé les données manquantes de la base de données CAF

In [45]:
#SUPPRESSION DES VALEURS MANQUANTES
df_ville = df_ville.dropna()

In [46]:
#Renommer les colonnes
df_caf.rename(columns={"Date référence": "date", 
                                "Numéro département": "num_dep", 
                                "Nom département": "nom_dep", 
                                "Numéro région": "num_region", 
                                "Nom région": "nom_region", 
                                "Quotient familial": "qt_familial", 
                                "Nombre foyers NDUR": "nb_foyers_presta_legale", 
                                "Nombre personnes NDUR": "nb_pers_presta_legale", 
                                "Montant total NDUR": "mt_total_presta_legale",
                                "Nombre foyers NDURPAJE": "nb_foyers_petite_enfance",
                                "Nombre personnes NDURPAJE": "nb_pers_petite_enfance",
                                "Montant total NDURPAJE": "mt_total_petite_enfance",
                                "Nombre foyers NDUREJ": "nb_foyers_enfance_jeunesse",
                                "Nombre personnes NDUREJ": "nb_pers_enfance_jeunesse",
                                "Montant total NDUREJ": "mt_total_enfance_jeunesse",
                                "Nombre foyers NDURAL": "nb_foyers_apl",
                                "Nombre personnes NDURAL": "nb_pers_apl",
                                "Montant total NDURAL": "mt_total_apl",
                                "Nombre foyers NDURINS": "nb_foyers_solidarite_insertion",
                                "Nombre personnes NDURINS": "nb_pers_solidarite_insertion",
                                "Montant total NDURINS": "mt_total_solidarite_insertion",
                                "Lieu résidence": "lieu_residence"}, inplace=True)

In [47]:
df_caf.head()

,date,num_dep,nom_dep,num_region,nom_region,qt_familial,nb_foyers_presta_legale,nb_pers_presta_legale,mt_total_presta_legale,nb_foyers_petite_enfance,...,nb_foyers_enfance_jeunesse,nb_pers_enfance_jeunesse,mt_total_enfance_jeunesse,nb_foyers_apl,nb_pers_apl,mt_total_apl,nb_foyers_solidarite_insertion,nb_pers_solidarite_insertion,mt_total_solidarite_insertion,lieu_residence
0,2018-07,53,MAYENNE,52,PAYS DE LA LOIRE,Entre 1200 et 1599 euros,6817,26806,2231380,2565,...,5388,22677,1061757,53,117,6338,149,363,18295,PAYS DE LA LOIRE/MAYENNE
1,2018-07,53,MAYENNE,52,PAYS DE LA LOIRE,Entre 2000 et 3999 euros,1132,4626,154032,228,...,1035,4340,96399,1,2,336,1,2,118,PAYS DE LA LOIRE/MAYENNE
2,2018-07,53,MAYENNE,52,PAYS DE LA LOIRE,Entre 4000 ou plus,133,554,11676,21,...,120,516,6851,0,0,0,1,2,111,PAYS DE LA LOIRE/MAYENNE
3,2018-07,54,MEURTHE ET MOSELLE,44,GRAND EST,Entre 4000 ou plus,500,2050,52210,99,...,449,1896,22204,0,0,0,2,5,793,GRAND EST/MEURTHE ET MOSELLE
4,2018-07,55,MEUSE,44,GRAND EST,Moins de 400 euros,7166,11093,3511553,360,...,1137,4053,357994,4545,7190,1145289,4433,7006,1767349,GRAND EST/MEUSE

In [48]:
#EXPERTION DES DONNEES AU FORMAT EXCEL POUR VISUALISATION AVEC TABLEAU
df_ville.to_excel("Cities_cleaned.xlsx", index=False)
df_caf.to_excel("CAF_cleaned.xlsx", index=False)

#EXPERTION DES DONNEES AU FORMAT CSV POUR ANALYSE ET REQUETATGE AVEC SPARK SQL
df_caf.to_csv("CAF_cleanedForSQL.csv", index=False)